*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body{
  background-color: #010312 ;
  
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
